{% extends 'base.html' %}

{% block content %}
<div class="formulario-flotante">
    <h1>Crear Empleado</h1>
    {% if error %}
    <div class="p-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
        {{ error }}
    </div>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="codigo">Código:</label>
            <div class="input-icon-container">
                <i class='bx bx-code'></i>
                <input type="number" id="codigo" name="codigo" class="form-control" placeholder="Código del Empleado" min="0" value="{{ codigo|default:'' }}">
            </div>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <div class="input-icon-container">
                <i class='bx bx-rename'></i>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del Empleado" value="{{ nombre|default:'' }}">
            </div>
        </div>

        <div class="form-group">
            <label for="cargo">Área:</label>
            <div class="input-icon-container">
                <i class='bx bx-category'></i>
                <input type="text" id="cargo" name="cargo" class="form-control" placeholder="Área del Empleado" value="{{ cargo|default:'' }}">
            </div>
        </div>

        <div class="button-container">
            <a href="{% url 'empleados' %}" class="btn btn-secondary">Cancelar</a>
            <input type="submit" value="Guardar">
        </div>
    </form>
</div>
{% endblock %}
