{% extends 'base.html' %}

{% block content %}
<div class="formulario-flotante">
    <h1>Crear Elemento</h1>
    {% if error %}
    <div class="p-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
        {{ error }}
    </div>
    {% endif %}
    <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <div class="input-icon-container">
            <i class='bx bx-rename'></i>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del elemento" value="{{ form.nombre.value|default:'' }}">
        </div>
    </div>

    <div class="form-group">
        <label for="marca">Marca:</label>
        <div class="input-icon-container">
            <i class='bx bx-bookmark'></i>
            <input type="text" id="marca" name="marca" class="form-control" placeholder="Marca del elemento" value="{{ form.marca.value|default:'' }}">
        </div>
    </div>

    <div class="form-group">
        <label for="estado">Estado:</label>
        <div class="input-icon-container">
            <i class='bx bxs-hand-right'></i>
            <select id="estado" name="estado" class="form-control">
                <option value="Excelente" {% if form.estado.value == 'Excelente' %}selected{% endif %}>Excelente</option>
                <option value="Bueno" {% if form.estado.value == 'Bueno' %}selected{% endif %}>Bueno</option>
                <option value="Regular" {% if form.estado.value == 'Regular' %}selected{% endif %}>Regular</option>
                <option value="No disponible" {% if form.estado.value == 'No disponible' %}selected{% endif %}>No Disponible</option>
                <option value="Malo" {% if form.estado.value == 'Malo' %}selected{% endif %}>Malo</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <div class="input-icon-container">
            <i class='bx bx-buildings'></i>
            <input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad del elemento" value="{{ form.cantidad.value|default:'' }}" min="0">
        </div>
    </div>

    <div class="button-container">
        <a href="{% url 'elementos' %}" class="btn btn-secondary">Cancelar</a>
        <input type="submit" value="Guardar">
    </div>
</form>

</div>
{% endblock %}