{% extends 'base.html' %}

{% block content %}
<div class="formulario-flotante">
    <h1>Equipo a Editar</h1>
    {{ error }}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="serial">Serial:</label>
            <div class="input-icon-container">
                <i class='bx bx-terminal'></i>
                <input type="text" id="serial" name="serial" class="form-control" value="{{ equipo.serial }}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="marca">Marca:</label>
            <div class="input-icon-container">
                <i class='bx bx-bookmark'></i>
                <input type="text" id="marca" name="marca" class="form-control" value="{{ equipo.marca }}">
            </div>
        </div>

        <div class="form-group">
            <label for="ubicacion">Ubicación:</label>
            <div class="input-icon-container">
                <i class='bx bx-map'></i>
                <select id="ubicacion" name="ubicacion" class="form-control">
                    <option value="Bodega" {% if equipo.ubicacion == 'Bodega' %}selected{% endif %}>Bodega</option>
                    <option value="Oficina" {% if equipo.ubicacion == 'oficina' %}selected{% endif %}>Oficina</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="estado">Estado:</label>
            <div class="input-icon-container">
                <i class='bx bxs-hand-right'></i>
                <select id="estado" name="estado" class="form-control">
                    <option value="Excelente" {% if equipo.estado == 'Excelente' %}selected{% endif %}>Excelente</option>
                    <option value="Bueno" {% if equipo.estado == 'Bueno' %}selected{% endif %}>Bueno</option>
                    <option value="Regular" {% if equipo.estado == 'Regular' %}selected{% endif %}>Regular</option>
                    <option value="No disponible" {% if equipo.estado == 'No disponible' %}selected{% endif %}>No Disponible</option>
                    <option value="Malo" {% if equipo.estado == 'Malo' %}selected{% endif %}>Malo</option>
                </select>
            </div>
        </div>

        <label for="tipo">Tipo:</label>
        <div class="input-icon-container">
            <i class='bx bx-buildings'></i>
            <select id="tipo" name="tipo" class="form-control">
                <option value="Escritorio" {% if equipo.tipo == 'escritorio' %}selected{% endif %}>Escritorio</option>
                <option value="Portatil" {% if equipo.tipo == 'portatil' %}selected{% endif %}>Portátil</option>
            </select>
        </div>

        <div class="button-container">
            <a href="{% url 'equipos' %}" class="btn btn-secondary">Cancelar</a>
            <input type="submit" value="Actualizar">
        </div>
    </form>
</div>
{% endblock %}
