{% extends 'base.html' %}

{% block content %}
<section class="w-100 d-flex flex-column justify-content-center align-items-center fs-5">
    <div class="section-header">
        <h5 style="font-size: 1.5em;">Bienvenid@ al inventario Mary Kay</h5>
    </div>
    <div class="scrollable-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero odit quidem ex ullam. Debitis sequi suscipit reprehenderit minima molestiae ducimus excepturi pariatur dignissimos fugit similique, enim deleniti vitae. Omnis, ullam?</p>

    </div>
</section>
{% endblock %}
