{% extends 'base.html' %}

{% block content %}
<section class="w-100 d-flex flex-column justify-content-center align-items-center fs-5">
    
    <header class="header_container">
        <div class="header_content">
            <h1 style="font-size: 60px;margin-top: -25%;">BIENVENID@ AL <span>INVENTARIO</span> DE MARY KAY</h1>
            <p>Un inventario el cual ayuda facilitar y tener mejor control sobre empleados, equipos, elementos
                y asignaciones
            </p>
        </div>
        <div class="header_image" >
            <img src="../static/maquillaje.png" alt="Imagen de Maquillaje">
        </div>
        <div class="bar" style="margin-top: -30%;">
            &copy; 2025 Developer Yully. Todos los derechos reservados. <br />
            &copy; 2025 MaryKay
        </div>
    </header>
    
</section>
{% endblock %}
