{% extends 'base.html' %}

{% block content %}

<div class="container-form">
    <div class="information">
        <div class="info-childs">
            <h2>¡¡Bienvenido nuevamente!!</h2>
            <p>Si aun no tienes una cuenta por favor registrese aquí</p>
            <a href="/signup">
                <input type="button" value="Registrarse">
            </a>
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>Iniciar Sesión </h2>
            
            <!-- Mostrar el cuadro de error solo si hay un mensaje de error -->
            {% if error %}
            <div class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                {{ error }}
            </div>
            {% endif %}
            
            <div class="icons">
                <i class='bx bxl-google'></i>
                <i class='bx bxl-microsoft'></i>
                <i class='bx bxl-facebook'></i>
            </div>
            <p>o inicia sesión con una cuenta</p>
            <form method="POST" class="form">
                {% csrf_token %}
                <label for="username">
                    <i class='bx bx-user'></i>
                    <input type="text" id="username" name="username" class="form-control"
                        placeholder="Escribe tu Usuario">
                </label>
                <label for="password">
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Escribe tu Contraseña">
                </label>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
    </div>
</div>

{% endblock %}
