{% extends 'base.html' %}

{% block content %}

<div class="container-form">
    <div class="information">
        <div class="info-childs">
            <h2>Bienvenido</h2>
            <p>Si ya tienes cuenta por favor Inicia Sesión con tus datos</p>
            <a href="/signin">
                <input type="button" value="Iniciar Sesión">
            </a>
            
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>Crear una Cuenta </h2>
            {% if error %}
            <div class="p-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                {{ error }}
            </div>
            {% endif %}
            <div class="icons">
                <i class='bx bxl-google'></i>
                <i class='bx bxl-microsoft'></i>
                <i class='bx bxl-facebook'></i>
            </div>
            <p>o registrate con un nombre de usuario</p>
            <form method="POST" class="form">
                {% csrf_token %}
                <label for="username">
                    <i class='bx bx-user'></i>
                    <input type="text" id="username" name="username" class="form-control"
                        placeholder="Escribe tu Usuario">
                </label>
                <label for="password1">
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" id="password1" name="password1" class="form-control"
                        placeholder="Escribe tu Contraseña">
                </label>

                <label for="password2">
                    <i class='bx bxs-lock'></i>
                    <input type="password" id="password2" name="password2" class="form-control"
                        placeholder="Confirmar Contraseña">
                </label>
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </div>
</div>
{% endblock %}